body {
  background-color: #fafafa;
}

#loginFamily {
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	width: 350px;
	height: 380px;
	margin: 0px auto;
	margin-top: 120px;
}

#signUp {
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
	width: 350px;
	height: 64px;
	margin: 0px auto;
	margin-top: 10px;
}

img {
	margin-top: 28px;
	margin-left: 87px;
}

p {
	font-family: helvetica;
	font-weight: 100;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	margin-top: 25px;
}

a {
	color: #3897f2;
	text-decoration: none;
	font-weight: bold;
}

input {
	width: 268px;
	height: 35px;
	background-color: #fafafa;
	border: 2px solid #efefef;
	border-radius: 3px;
	outline: none;
	text-indent: 8px;
	color: #525252;
}

#userBox {
	margin-top: 25px;
}

#pwdBox {
	margin-top: 8px;
}

form {
	width: 268px;
	margin: 0 auto;
}

button {
	width: 275px;
	height: 30px;
	margin-top: 15px;
	border: none;
	background-color: #3897f0;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font-family: helvetica;
}